@font-face {
    font-family: 'Zen Kaku Gothic Antique Regular';
    src:url('../fonts/ZenKakuGothicAntique-Regular.ttf');
}

@font-face {
    font-family: 'Zen Kaku Gothic Antique Medium';
    src:url('../fonts/ZenKakuGothicAntique-Medium.ttf');
}

@font-face {
    font-family: 'Zen Kaku Gothic Antique Black';
    src:url('../fonts/ZenKakuGothicAntique-Black.ttf');
}

@font-face {
    font-family: 'Zen Kaku Gothic Antique Bold';
    src:url('../fonts/ZenKakuGothicAntique-Bold.ttf');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

p {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic Antique Regular';
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    overflow-y: hidden;
}

input {
    background-color: #D6DADE;
    border: 1px black solid;
}

.sample {
    display: none;
}

    /* Upper blocks */

.left-sidebar {
    min-width: 242px;
    height: 100vh;
    position: fixed;
    left: 0;
}

.right-sidebar {
    position: fixed;
    min-width: 242px;
    height: 100vh;
    right: 0;
}

.main-content {
    width: 100%;
    height: 100vh;
    margin: 0 242px 0 242px;
    background-color: #4F5B67;
    position: relative;
}

.fill {
    height: 40vh;
    border: 3px solid black;
}

.main {
    display: flex;
}

/* Sidebars */

.logo {
    margin: 24px 30px 30px 30px;
    font-size: 28px;
    line-height: 120%;
    color: #181894;
    font-family: 'Zen Kaku Gothic Antique Bold';
}

    /* Rooms */

.room-block {
    margin-top: 10px
}

.block-header {
    padding: 14.5px 0 13.5px 16px; 
    background-color: #FAFAFA;
    box-shadow: inset 0px -1px 0px #F1F1F1;
    font-size: 12px;
    line-height: 100%;
}

.room-lst {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    max-height: 240px;
}

.room {
    padding: 20px 0 19px 16px;
    box-shadow: inset 0px -1px 0px #F1F1F1;
}

.room-lst .room:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.room-img {
    width: 16px;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 4px;
}

.current-room {
    margin-top: 60px;
}

.btn-addroom {
    padding: 13px 36px 13px 20px;
    border-radius: 32px;
    background-color: #e8e8e8;
    margin-left: 17px;
    display: inline-block;
    font-family: 'Zen Kaku Gothic Antique Medium';
    border: 1px solid black;
}

.btn-addroom:hover {
    background-color: #b0b0b0;
    transition-duration: 0.2s;
    cursor: pointer;
}

    /* Optimal/current chars */

.block-chars {
    margin-top: 160px;
}

.block-char {
    display: flex;
    justify-content: space-between;
    padding: 20px 22px 19px 16px;
    box-shadow: inset 0px -1px 0px #F1F1F1;
}

.block-def {
    width: 100%;
}

.current-chars {
    margin-top: 0;
}

.char-img {
    max-width: 25px;
    vertical-align: middle;
    margin-right: 9px;
}

.char-value {
    text-align: right;
    right: 0;
    margin-right: 10px;
}

    /* Options */

.block-options {
    min-height: 48px;
    font-family: 'Zen Kaku Gothic Antique Medium';
    font-size: 16px;
    line-height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    color: #4F5B67;
}

.opt-img {
    width: 20px;
    margin: 0 26px 0 26px;
}

.block-options:hover {
    transition-duration: 0.1s;
    text-decoration: underline;
    background-color: #FAFAFA;
    cursor: pointer;
}

/* Main content */

.tabs {
    display: flex;
    align-items: flex-end;
    min-height: 90px;
    margin-left: 8px;
}

.tab {
    max-height: 50px;
    min-width: 175px;
    padding: 12.5px 0 12.5px 0;
    text-align: center;
    background-color: #D6DADE;
    border: solid 1px black;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
    font-family: 'Zen Kaku Gothic Antique Medium';
    font-size: 24px;
    line-height: 100%;
}

.tab:hover {
    padding-bottom: 30px;
    transition-duration: 0.2s;
}

.active-tab {
    background-color: white;
}

.tab:hover {
    cursor: pointer;
}

.active-tab:hover {
    padding-bottom: 12.5px;
    cursor: auto;
}

.block-devices {
    background-color: white;
    border: 1px solid black;
    height: 100vh;
    display: none;
}

.active-page {
    display:flex;
}

/*.block-devices:after {
    content: "";
    width: 176px;
    height: 2px;
    position: absolute;
    background-color: white;
    left: 250.5px;
    top: 90px;
}*/

.devices-lst {
    overflow-y: scroll;
    max-width: 1080px;
    margin: 14px 20px 0 28px;
    max-height: 90vh;
}

.block-device {
    padding: 12px 20px;
    border: 1px solid #EAECEE;
    border-radius: 12px;
}

.device-header {
    font-family: 'Zen Kaku Gothic Antique Black';
    font-size: 18px;
    margin-bottom: 6px;
}

.device-icons {
    margin-left: 7px;
    margin-bottom: 3px;
    padding-right: 10px;
    border-right: 2px solid #D6DADE;
    height: min-content;
}

.device-icon:last-child {
    margin-bottom: 0;
}

.device-info {
    display: flex;
}

.device-info p {
    position: relative;
    left:-2px;
    padding-left: 10px;
    border-left: 2px solid #D6DADE;
}

.device-icon {
    width: max-content;
    margin-bottom: 10px;
}

.device-icon .char-img {
    margin-right: 13px;
}

.block-device p {
    margin-bottom: 25px;
}

.adddevice-btn {
    border: 1px solid #0C1116;
    border-radius: 32px;
    font-family: 'Zen Kaku Gothic Antique Medium';
    background-color: #e8e8e8;
    font-size: 20px;
    line-height: 100%;
    padding: 15px 8px 12px 40px;
    height: min-content;
    margin-top: 46px;
}

.adddevice-btn:hover {
    cursor: pointer;
    background-color: #b0b0b0;
    transition-duration: 0.2s;
}

.btn-img {
    width: 21px;
    margin-left: 7px;
    margin-right: 40px;
    padding-bottom: 5px;
    vertical-align: middle;
}

/* Popups */

.popup {
    font-family: 'Zen Kaku Gothic Antique Regular';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup-content {
    transform:  perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: white;
    border-radius: 10px;
    color: black;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    min-width: 425px;
    padding: 32px 33px 26px 33px;
}

.popup-title {
    font-family: 'Zen Kaku Gothic Antique Bold';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
}

.roomDesc {
    display: block;
    min-height: 80px;
    background-color: #D6DADE;
    resize: none;
    padding: 3px 8px;
    font-size: 14px;
}

.formBlock p {
    margin-bottom: 10px;
    font-size: 16px;
}

.textBlock {
    flex-direction: column;
    align-items: stretch;
    display: flex;
}

.inputBlock {
    display: flex;
}

.inputBlock > * {
    display: block;
}

.inputBlock > input {
    width: 100%;
    padding: 3px 8px;
}

.inputBlock > img {
    margin-right: 0;
    margin-left: 8px;
}

.for-editing input {
    margin-left: 30px;
    max-width: 35px;
}

.for-editing .block-def {
    min-width: 125px;
}

.for-editing .block-char {
    justify-content: left;
}

.for-editing .char-value {
    min-width: 28px;
    text-align: left;
    margin-right: 0px;
    margin-left: 4px;
}

.for-editing {
    margin-top: 0px;
}

.formBlock {
    margin-bottom: 16px;
    font-size: 14px;
    font-family: 'Zen Kaku Gothic Antique Regular';
}

.img-wrapper {
    width: 100%;
}

.input-wrap {
    width: 80px;
    display: flex;
}

.char-ref {
    float: right;
    cursor: pointer;
    margin-right: 0;
}

.form-btns > * {
    display: block;
    width: 45%;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #D6DADE;
    font-size: 16px;
    line-height: 100%;
    font-family: 'Zen Kaku Gothic Antique Medium';
    padding: 13px 0;
    cursor: pointer;
}

.form-btns {
    display: flex;
    justify-content: space-around;
}

.for-checkbox {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 3px 5px;
}

/* Some prikols */

.small-icon {
    margin-left: 5px;
    font-size: 16px;
}

@media (max-width: 1910px) {
    .btn-img {display: none}
    .adddevice-btn {padding: 15px 40px 15px 40px;}
}